<%= month_calendar(events: @meetings) do |date, meetings| %>
   <a href="#"> <%= date.strftime("%d") %></a>

  <% meetings.each do |meeting| %>
    <div>
      <%= meeting.name %>
    </div>
  <% end %>
<% end %>
