<br /><br />
<div class="show-journal">
  <h1 class="display-4">
    <%= @journal.title %>
  </h1>

  <p class="lead desc">
    <%= @journal.desc %>
  </p>
  <%= link_to 'Edit', edit_journal_path(@journal), class:"btn btn-primary btn-lg" %>
  <%= link_to 'Back', journals_path, class:"btn btn-secondary btn-lg" %>
</div>