<p>
  <strong>Title:</strong>
  <%= @journal.title %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @journal.desc %>
</p>

<%= link_to 'Edit', edit_journal_path(@journal) %> |
<%= link_to 'Back', journals_path %>
