// Place all the styles related to the Inbox controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.chat-body{
    height: 450px;
    width: 500px;
    border: 2px solid gray;
    // display: flex;
    // flex-wrap: wrap;
    // justify-content: space-between;
}

.message-box{
    border: 1px solid gray;
    padding: 3px;
    margin: 3px;
    border-radius: 10px;
    // width: 100%;
    // text-align: right;
    // color: red;

    .my-timestamp{
        float:right;
    }

    .other-timestamp{
        float:left;
    }
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }
  
  .item:nth-child(3n) {
    width: 100%;
    text-align: right;
    color: red;
  }

  .my-message{
      background-color: greenyellow;

      
  }


