// Place all the styles related to the Journals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.show-journal{
    border: 2px solid gray;
    border-radius: 15px;
    width: 60%;
    padding: 15px;
    background-color: rgb(205, 236, 236);
}

.desc{
    word-wrap: break-word;
}

.back{
    margin-top: 10px;
}